<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title>Teah Digital | Login</title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="Avant">
	    <meta name="author" content="The Red Team">
	    <link rel="stylesheet" href="assets/css/styles.css">
	    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
	</head>
	<body class="focusedform">
	<!-- <body class="focusedform" style="background-image: url('http://projects.teah.digital/codesapiens/images/bg-start.jpg'); background-size: cover;"> -->
		<div class="verticalcenter">
			<a href="index.htm"><img src="assets/img/logo-big.png" alt="Logo" class="brand" /></a>
			<!-- <a href="index.htm"><img src="assets/img/logo.png" alt="Logo" class="brand" /></a> -->
			<div class="panel panel-primary">
				<div class="panel-body">

					<!-- New Angular -->

					<form name="loginForm" ng-controller="LoginController" ng-submit="login(credentials)" novalidate>
						<div class="input-group col-sm-12">
							<label for="username">Username: </label><br/>
							<input type="text" id="username" class="col-sm-12" ng-model="credentials.username">
						</div>
						<div class="input-group col-sm-12">
							<label for="password">Password: </label><br/>
							<input type="password" id="password" class="col-sm-12" ng-model="credentials.password">
						</div>

						<div class="panel-footer">
							<a href="index.htm" class="btn btn-primary col-sm-12">Login</a>
						</div>
					</form>
					<!--  -->

				</div>
					
			</div>
		 </div>
	</body>
</html>