 <div id="page-content" ng-controller="clientController" >
	<div id='wrap'>
		<div id="page-heading">
			<ol class="breadcrumb">
				<li><a href=".#/">Dashboard</a></li>
				<li class="active">{{ client.name }}</li>
			</ol>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
                        

                       <div class="grid">
                            <figure class="effect-julia" ng-repeat="project in projects | filter:searchProject" >
                                <img src="{{ project.screenshot }}" />
                                <figcaption>
                                    <h2>{{ project.name }} - <span>{{ project.client.name }}</span></h2>
                                    <div>
                                        <p ng-repeat="url in project.urls" ><a target="_blank" href="{{ url.url }}">{{ url.name }}</a></p> 
                                    </div>
                                </figcaption>           
                            </figure>
                       </div>
                   
				</div>
			</div>
		</div>
	</div>
</div>