 <div id="page-content" ng-controller="homeController" >
	<div id='wrap'>
		<div id="page-heading">
			<ol class="breadcrumb">
				<li><a href=".#/">Dashboard</a></li>
				<li class="active">Home</li>
			</ol>

			<h1>Bienvenido !</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
                        
                      

                        <div class="search">
                            <i class="fa fa-search"></i>
                            <input placeholder="Busque su proyecto" ng-model="searchProject" type="text" >
                        </div>
                        
                        <hr>

                       <div class="grid">
                            <figure class="effect-julia" ng-repeat="project in projects | filter:searchProject" >
                                <img src="{{ project.screenshot }}" />
                                <figcaption>
                                    <h2>{{ project.name }} - <span>{{ project.client.name }}</span></h2>
                                    <div>
                                        <p ng-repeat="url in project.urls" ><a target="_blank" href="{{ url.url }}">{{ url.name }}</a></p> 
                                    </div>
                                </figcaption>           
                            </figure>
                       </div>

                   
				</div>
			</div>
		</div>
	</div>
</div>